In [146]:
import pandas as pd # type: ignore

In [148]:
measurements_all_ocassions = pd.read_csv('dados/ahi-cesd.csv')
measurements_all_ocassions

,id,occasion,elapsed.days,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,...,cesd13,cesd14,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal,cesdTotal
0,1,0,0.000000,4,2,3,2,3,3,2,...,2,3,1,2,1,1,2,2,63,14
1,1,1,11.772731,4,3,3,4,3,3,4,...,1,2,1,3,1,1,1,1,73,6
2,2,0,0.000000,1,3,4,3,4,2,3,...,1,1,1,4,1,1,1,1,73,7
3,2,1,8.017523,1,3,4,4,4,3,3,...,1,1,1,3,1,1,1,1,89,10
4,2,2,14.304086,1,3,4,4,4,3,3,...,3,1,1,1,1,1,1,1,89,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,292,0,0.000000,4,2,2,2,2,2,4,...,2,2,1,3,2,3,1,4,50,30
988,292,1,9.940718,4,4,3,2,3,3,4,...,2,1,1,4,1,1,1,3,70,6
989,293,0,0.000000,2,2,2,2,2,2,1,...,1,3,1,2,1,2,1,3,47,18
990,294,0,0.000000,3,3,3,2,3,3,3,...,2,2,1,3,1,1,1,1,70,7
991,295,0,0.000000,1,3,3,2,3,2,3,...,1,1,1,4,1,2,1,1,65,6

In [149]:
measurements_pre_intervention = measurements_all_ocassions.query('occasion == 0')
measurements_pre_intervention

,id,occasion,elapsed.days,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,...,cesd13,cesd14,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal,cesdTotal
0,1,0,0.0,4,2,3,2,3,3,2,...,2,3,1,2,1,1,2,2,63,14
2,2,0,0.0,1,3,4,3,4,2,3,...,1,1,1,4,1,1,1,1,73,7
8,3,0,0.0,4,3,3,2,4,2,3,...,1,2,1,4,1,1,1,1,77,3
10,4,0,0.0,3,2,2,3,2,2,3,...,4,4,1,2,3,3,1,1,60,31
14,5,0,0.0,2,1,2,3,2,2,2,...,2,3,1,2,1,2,1,3,41,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,291,0,0.0,2,2,3,3,4,3,4,...,1,1,2,4,1,1,2,2,80,9
987,292,0,0.0,4,2,2,2,2,2,4,...,2,2,1,3,2,3,1,4,50,30
989,293,0,0.0,2,2,2,2,2,2,1,...,1,3,1,2,1,2,1,3,47,18
990,294,0,0.0,3,3,3,2,3,3,3,...,2,2,1,3,1,1,1,1,70,7
991,295,0,0.0,1,3,3,2,3,2,3,...,1,1,1,4,1,2,1,1,65,6

In [150]:
measurements_pre_intervention = measurements_pre_intervention.set_index('id')

measurements_pre_intervention = \
    measurements_pre_intervention.rename_axis(index=None)

measurements_pre_intervention

,occasion,elapsed.days,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,...,cesd13,cesd14,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal,cesdTotal
1,0,0.0,4,2,3,2,3,3,2,3,...,2,3,1,2,1,1,2,2,63,14
2,0,0.0,1,3,4,3,4,2,3,4,...,1,1,1,4,1,1,1,1,73,7
3,0,0.0,4,3,3,2,4,2,3,4,...,1,2,1,4,1,1,1,1,77,3
4,0,0.0,3,2,2,3,2,2,3,3,...,4,4,1,2,3,3,1,1,60,31
5,0,0.0,2,1,2,3,2,2,2,1,...,2,3,1,2,1,2,1,3,41,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,0,0.0,2,2,3,3,4,3,4,4,...,1,1,2,4,1,1,2,2,80,9
292,0,0.0,4,2,2,2,2,2,4,1,...,2,2,1,3,2,3,1,4,50,30
293,0,0.0,2,2,2,2,2,2,1,2,...,1,3,1,2,1,2,1,3,47,18
294,0,0.0,3,3,3,2,3,3,3,3,...,2,2,1,3,1,1,1,1,70,7
295,0,0.0,1,3,3,2,3,2,3,3,...,1,1,1,4,1,2,1,1,65,6

In [151]:
measurements_post_intervention = measurements_all_ocassions.query('occasion == 1')
measurements_post_intervention

,id,occasion,elapsed.days,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,...,cesd13,cesd14,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal,cesdTotal
1,1,1,11.772731,4,3,3,4,3,3,4,...,1,2,1,3,1,1,1,1,73,6
3,2,1,8.017523,1,3,4,4,4,3,3,...,1,1,1,3,1,1,1,1,89,10
11,4,1,7.419456,3,3,2,3,4,2,3,...,3,4,1,2,4,4,1,3,67,31
15,5,1,7.748808,2,1,2,3,2,2,2,...,3,3,2,1,3,2,2,3,41,32
24,8,1,8.800764,2,2,2,1,2,2,1,...,2,4,2,1,1,4,3,4,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
955,281,1,7.519132,4,3,3,3,4,3,3,...,1,1,1,4,1,1,1,1,76,1
961,282,1,8.008495,1,2,3,2,2,4,4,...,1,1,1,4,4,3,2,4,63,17
967,283,1,7.094815,2,4,3,2,4,4,3,...,3,1,1,3,1,1,2,2,85,12
976,287,1,10.008079,2,3,3,3,4,3,4,...,1,1,1,4,2,2,1,2,76,9
988,292,1,9.940718,4,4,3,2,3,3,4,...,2,1,1,4,1,1,1,3,70,6

In [152]:
measurements_post_intervention = measurements_post_intervention.set_index('id')

measurements_post_intervention = \
    measurements_post_intervention.rename_axis(index=None)

measurements_post_intervention

,occasion,elapsed.days,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,...,cesd13,cesd14,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal,cesdTotal
1,1,11.772731,4,3,3,4,3,3,4,4,...,1,2,1,3,1,1,1,1,73,6
2,1,8.017523,1,3,4,4,4,3,3,4,...,1,1,1,3,1,1,1,1,89,10
4,1,7.419456,3,3,2,3,4,2,3,3,...,3,4,1,2,4,4,1,3,67,31
5,1,7.748808,2,1,2,3,2,2,2,1,...,3,3,2,1,3,2,2,3,41,32
8,1,8.800764,2,2,2,1,2,2,1,3,...,2,4,2,1,1,4,3,4,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,1,7.519132,4,3,3,3,4,3,3,4,...,1,1,1,4,1,1,1,1,76,1
282,1,8.008495,1,2,3,2,2,4,4,3,...,1,1,1,4,4,3,2,4,63,17
283,1,7.094815,2,4,3,2,4,4,3,4,...,3,1,1,3,1,1,2,2,85,12
287,1,10.008079,2,3,3,3,4,3,4,4,...,1,1,1,4,2,2,1,2,76,9
292,1,9.940718,4,4,3,2,3,3,4,2,...,2,1,1,4,1,1,1,3,70,6

In [153]:
measurements_post_intervention = measurements_post_intervention[['ahiTotal', 'cesdTotal']]
measurements_post_intervention

     ahiTotal  cesdTotal
1          73          6
2          89         10
4          67         31
5          41         32
8          45         45
..        ...        ...
281        76          1
282        63         17
283        85         12
287        76          9
292        70          6

[147 rows x 2 columns]

In [154]:
measurements_pre_post_intervention = measurements_pre_intervention.join(measurements_post_intervention, how='inner', lsuffix='.pre', rsuffix='.post')
measurements_pre_post_intervention

,occasion,elapsed.days,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,...,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post
1,0,0.0,4,2,3,2,3,3,2,3,...,1,2,1,1,2,2,63,14,73,6
2,0,0.0,1,3,4,3,4,2,3,4,...,1,4,1,1,1,1,73,7,89,10
4,0,0.0,3,2,2,3,2,2,3,3,...,1,2,3,3,1,1,60,31,67,31
5,0,0.0,2,1,2,3,2,2,2,1,...,1,2,1,2,1,3,41,27,41,32
8,0,0.0,2,3,2,2,2,2,1,4,...,1,2,2,4,2,3,59,30,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,0,0.0,4,3,3,2,4,2,3,4,...,1,4,1,2,1,1,69,4,76,1
282,0,0.0,1,2,3,2,2,4,5,3,...,1,4,1,1,3,3,66,11,63,17
283,0,0.0,2,3,3,3,4,4,4,4,...,1,4,1,1,1,2,91,8,85,12
287,0,0.0,2,2,3,1,3,4,1,1,...,1,3,3,3,2,3,64,30,76,9
292,0,0.0,4,2,2,2,2,2,4,1,...,1,3,2,3,1,4,50,30,70,6

In [155]:
measurements_pre_post_intervention = \
    measurements_pre_post_intervention.drop(columns=[
        'occasion',
        'elapsed.days'
    ])

measurements_pre_post_intervention

,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,ahi08,ahi09,...,cesd15,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post
1,4,2,3,2,3,3,2,3,3,3,...,1,2,1,1,2,2,63,14,73,6
2,1,3,4,3,4,2,3,4,3,3,...,1,4,1,1,1,1,73,7,89,10
4,3,2,2,3,2,2,3,3,1,5,...,1,2,3,3,1,1,60,31,67,31
5,2,1,2,3,2,2,2,1,1,2,...,1,2,1,2,1,3,41,27,41,32
8,2,3,2,2,2,2,1,4,4,4,...,1,2,2,4,2,3,59,30,45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,4,3,3,2,4,2,3,4,4,3,...,1,4,1,2,1,1,69,4,76,1
282,1,2,3,2,2,4,5,3,2,4,...,1,4,1,1,3,3,66,11,63,17
283,2,3,3,3,4,4,4,4,3,4,...,1,4,1,1,1,2,91,8,85,12
287,2,2,3,1,3,4,1,1,3,4,...,1,3,3,3,2,3,64,30,76,9
292,4,2,2,2,2,2,4,1,2,4,...,1,3,2,3,1,4,50,30,70,6

In [156]:
measurements_pre_post_intervention['ahiChange'] = \
    measurements_pre_post_intervention['ahiTotal.post'] - measurements_pre_post_intervention['ahiTotal.pre']

measurements_pre_post_intervention

,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,ahi08,ahi09,...,cesd16,cesd17,cesd18,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange
1,4,2,3,2,3,3,2,3,3,3,...,2,1,1,2,2,63,14,73,6,10
2,1,3,4,3,4,2,3,4,3,3,...,4,1,1,1,1,73,7,89,10,16
4,3,2,2,3,2,2,3,3,1,5,...,2,3,3,1,1,60,31,67,31,7
5,2,1,2,3,2,2,2,1,1,2,...,2,1,2,1,3,41,27,41,32,0
8,2,3,2,2,2,2,1,4,4,4,...,2,2,4,2,3,59,30,45,45,-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,4,3,3,2,4,2,3,4,4,3,...,4,1,2,1,1,69,4,76,1,7
282,1,2,3,2,2,4,5,3,2,4,...,4,1,1,3,3,66,11,63,17,-3
283,2,3,3,3,4,4,4,4,3,4,...,4,1,1,1,2,91,8,85,12,-6
287,2,2,3,1,3,4,1,1,3,4,...,3,3,3,2,3,64,30,76,9,12
292,4,2,2,2,2,2,4,1,2,4,...,3,2,3,1,4,50,30,70,6,20

In [157]:
measurements_pre_post_intervention['ahiResponse'] = \
    measurements_pre_post_intervention['ahiChange'] >= 10

measurements_pre_post_intervention

,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,ahi08,ahi09,...,cesd17,cesd18,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange,ahiResponse
1,4,2,3,2,3,3,2,3,3,3,...,1,1,2,2,63,14,73,6,10,True
2,1,3,4,3,4,2,3,4,3,3,...,1,1,1,1,73,7,89,10,16,True
4,3,2,2,3,2,2,3,3,1,5,...,3,3,1,1,60,31,67,31,7,False
5,2,1,2,3,2,2,2,1,1,2,...,1,2,1,3,41,27,41,32,0,False
8,2,3,2,2,2,2,1,4,4,4,...,2,4,2,3,59,30,45,45,-14,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,4,3,3,2,4,2,3,4,4,3,...,1,2,1,1,69,4,76,1,7,False
282,1,2,3,2,2,4,5,3,2,4,...,1,1,3,3,66,11,63,17,-3,False
283,2,3,3,3,4,4,4,4,3,4,...,1,1,1,2,91,8,85,12,-6,False
287,2,2,3,1,3,4,1,1,3,4,...,3,3,2,3,64,30,76,9,12,True
292,4,2,2,2,2,2,4,1,2,4,...,2,3,1,4,50,30,70,6,20,True

In [158]:
measurements_pre_post_intervention['cesdChange'] = \
    measurements_pre_post_intervention['cesdTotal.post'] - measurements_pre_post_intervention['cesdTotal.pre']

measurements_pre_post_intervention

,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,ahi08,ahi09,...,cesd18,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange,ahiResponse,cesdChange
1,4,2,3,2,3,3,2,3,3,3,...,1,2,2,63,14,73,6,10,True,-8
2,1,3,4,3,4,2,3,4,3,3,...,1,1,1,73,7,89,10,16,True,3
4,3,2,2,3,2,2,3,3,1,5,...,3,1,1,60,31,67,31,7,False,0
5,2,1,2,3,2,2,2,1,1,2,...,2,1,3,41,27,41,32,0,False,5
8,2,3,2,2,2,2,1,4,4,4,...,4,2,3,59,30,45,45,-14,False,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,4,3,3,2,4,2,3,4,4,3,...,2,1,1,69,4,76,1,7,False,-3
282,1,2,3,2,2,4,5,3,2,4,...,1,3,3,66,11,63,17,-3,False,6
283,2,3,3,3,4,4,4,4,3,4,...,1,1,2,91,8,85,12,-6,False,4
287,2,2,3,1,3,4,1,1,3,4,...,3,2,3,64,30,76,9,12,True,-21
292,4,2,2,2,2,2,4,1,2,4,...,3,1,4,50,30,70,6,20,True,-24

In [159]:
measurements_pre_post_intervention['cesdResponse'] = \
    measurements_pre_post_intervention['cesdChange'] <= -10

measurements_pre_post_intervention

,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,ahi07,ahi08,ahi09,...,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange,ahiResponse,cesdChange,cesdResponse
1,4,2,3,2,3,3,2,3,3,3,...,2,2,63,14,73,6,10,True,-8,False
2,1,3,4,3,4,2,3,4,3,3,...,1,1,73,7,89,10,16,True,3,False
4,3,2,2,3,2,2,3,3,1,5,...,1,1,60,31,67,31,7,False,0,False
5,2,1,2,3,2,2,2,1,1,2,...,1,3,41,27,41,32,0,False,5,False
8,2,3,2,2,2,2,1,4,4,4,...,2,3,59,30,45,45,-14,False,15,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,4,3,3,2,4,2,3,4,4,3,...,1,1,69,4,76,1,7,False,-3,False
282,1,2,3,2,2,4,5,3,2,4,...,3,3,66,11,63,17,-3,False,6,False
283,2,3,3,3,4,4,4,4,3,4,...,1,2,91,8,85,12,-6,False,4,False
287,2,2,3,1,3,4,1,1,3,4,...,2,3,64,30,76,9,12,True,-21,True
292,4,2,2,2,2,2,4,1,2,4,...,1,4,50,30,70,6,20,True,-24,True

In [160]:
demographics = pd.read_csv('dados/participant-info.csv')
demographics

      id  intervention  sex  age  educ  income
0      1             4    2   35     5       3
1      2             1    1   59     1       1
2      3             4    1   51     4       3
3      4             3    1   50     5       2
4      5             2    2   58     5       2
..   ...           ...  ...  ...   ...     ...
290  291             2    1   39     5       3
291  292             4    1   47     4       2
292  293             2    2   52     4       3
293  294             3    1   59     5       2
294  295             1    1   28     4       2

[295 rows x 6 columns]

In [161]:
demographics = demographics.set_index('id')

demographics = \
    demographics.rename_axis(index=None)

demographics

     intervention  sex  age  educ  income
1               4    2   35     5       3
2               1    1   59     1       1
3               4    1   51     4       3
4               3    1   50     5       2
5               2    2   58     5       2
..            ...  ...  ...   ...     ...
291             2    1   39     5       3
292             4    1   47     4       2
293             2    2   52     4       3
294             3    1   59     5       2
295             1    1   28     4       2

[295 rows x 5 columns]

In [162]:
demographics = demographics.drop(columns=['intervention'])
demographics

     sex  age  educ  income
1      2   35     5       3
2      1   59     1       1
3      1   51     4       3
4      1   50     5       2
5      2   58     5       2
..   ...  ...   ...     ...
291    1   39     5       3
292    1   47     4       2
293    2   52     4       3
294    1   59     5       2
295    1   28     4       2

[295 rows x 4 columns]

In [163]:
data = demographics.join(measurements_pre_post_intervention, how='inner')
data

,sex,age,educ,income,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,...,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange,ahiResponse,cesdChange,cesdResponse
1,2,35,5,3,4,2,3,2,3,3,...,2,2,63,14,73,6,10,True,-8,False
2,1,59,1,1,1,3,4,3,4,2,...,1,1,73,7,89,10,16,True,3,False
4,1,50,5,2,3,2,2,3,2,2,...,1,1,60,31,67,31,7,False,0,False
5,2,58,5,2,2,1,2,3,2,2,...,1,3,41,27,41,32,0,False,5,False
8,1,57,4,2,2,3,2,2,2,2,...,2,3,59,30,45,45,-14,False,15,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,2,67,4,2,4,3,3,2,4,2,...,1,1,69,4,76,1,7,False,-3,False
282,1,43,2,2,1,2,3,2,2,4,...,3,3,66,11,63,17,-3,False,6,False
283,1,39,4,2,2,3,3,3,4,4,...,1,2,91,8,85,12,-6,False,4,False
287,1,43,4,2,2,2,3,1,3,4,...,2,3,64,30,76,9,12,True,-21,True
292,1,47,4,2,4,2,2,2,2,2,...,1,4,50,30,70,6,20,True,-24,True

In [165]:
data = data.query('intervention != 4')
data

,sex,age,educ,income,intervention,ahi01,ahi02,ahi03,ahi04,ahi05,...,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange,ahiResponse,cesdChange,cesdResponse
2,1,59,1,1,1,3,4,3,4,2,...,1,1,73,7,89,10,16,True,3,False
4,1,50,5,2,3,2,2,3,2,2,...,1,1,60,31,67,31,7,False,0,False
5,2,58,5,2,2,1,2,3,2,2,...,1,3,41,27,41,32,0,False,5,False
8,1,57,4,2,2,3,2,2,2,2,...,2,3,59,30,45,45,-14,False,15,False
11,1,56,5,1,2,2,2,3,4,2,...,1,1,62,19,59,19,-3,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,1,55,5,2,3,2,3,3,4,2,...,1,2,76,1,80,0,4,False,-1,False
276,1,37,5,2,1,2,2,2,2,3,...,2,1,59,24,68,8,9,False,-16,True
282,1,43,2,2,1,2,3,2,2,4,...,3,3,66,11,63,17,-3,False,6,False
283,1,39,4,2,2,3,3,3,4,4,...,1,2,91,8,85,12,-6,False,4,False
287,1,43,4,2,2,2,3,1,3,4,...,2,3,64,30,76,9,12,True,-21,True

In [166]:
data = data.drop(columns=['intervention'])
data

,sex,age,educ,income,ahi01,ahi02,ahi03,ahi04,ahi05,ahi06,...,cesd19,cesd20,ahiTotal.pre,cesdTotal.pre,ahiTotal.post,cesdTotal.post,ahiChange,ahiResponse,cesdChange,cesdResponse
2,1,59,1,1,3,4,3,4,2,3,...,1,1,73,7,89,10,16,True,3,False
4,1,50,5,2,2,2,3,2,2,3,...,1,1,60,31,67,31,7,False,0,False
5,2,58,5,2,1,2,3,2,2,2,...,1,3,41,27,41,32,0,False,5,False
8,1,57,4,2,3,2,2,2,2,1,...,2,3,59,30,45,45,-14,False,15,False
11,1,56,5,1,2,2,3,4,2,3,...,1,1,62,19,59,19,-3,False,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
273,1,55,5,2,2,3,3,4,2,4,...,1,2,76,1,80,0,4,False,-1,False
276,1,37,5,2,2,2,2,2,3,3,...,2,1,59,24,68,8,9,False,-16,True
282,1,43,2,2,2,3,2,2,4,5,...,3,3,66,11,63,17,-3,False,6,False
283,1,39,4,2,3,3,3,4,4,4,...,1,2,91,8,85,12,-6,False,4,False
287,1,43,4,2,2,3,1,3,4,1,...,2,3,64,30,76,9,12,True,-21,True